<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<!-- Nome da Aplicacao -->
	<display-name>Mercado</display-name>
	
	<!-- Arquivo princial da aplicacao ou index -->
	<welcome-file-list>
		<welcome-file>pages/autenticacao.xhtml</welcome-file>
	</welcome-file-list>
	
	<!-- Configuracao do servlet do JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- tema do primefaces -->
	<context-param>
	<param-name>primefaces.THEME</param-name>
	<param-value>ui-lightness</param-value>
	</context-param>
	
	
	<!-- CARREGAMENTO do contexto do hibernate -->
	<listener>
		<listener-class>br.com.mercado.util.ContextListener</listener-class>
	</listener>
</web-app>